<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092766039116-1n3kvlvebmnfbd19shm7rec0m5vjeb5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092766039116-1n3kvlvebmnfbd19shm7rec0m5vjeb5m</string>
	<key>API_KEY</key>
	<string>AIzaSyAGoIyK9R9OzOkPOnbSfICr9lGQZZSyGdI</string>
	<key>GCM_SENDER_ID</key>
	<string>1092766039116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newProj</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-app-d5dff</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-app-d5dff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092766039116:ios:eff2c46437e2b75fb008e9</string>
</dict>
</plist>